<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input type="text" name="name">
                    <input type="text" name="month">
                    <input type="text" name="day">
                    <input type="submit" value="Add BirthDay">
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for person in people %}
                            <tr>
                                <td>{{ person["name"] }}</td>
                                <td>{{ person["month"] }}/{{ person["day"] }}</td>
                                <td>
                                    <form action="/" method="post">
                                        <input hidden name="delete" value="{{person["id"]}}">
                                        <input type="submit" value="Delete" style="background-color:red;">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
